{% extends "base/base.html" %}

{% block table_body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="page-header"></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    创建
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body col-md-4">
                    <label>项目名称</label>
                    <input type="text" name="project_name" class="form-control" id="project_name" placeholder="请输入项目名称">
                    <p id="project_name_error" style="color:red;"></p>
                </div>
                </br></br></br></br></br></br>
                <div class="panel-body">
                    <label>标题</label>
                    <input type="text" name="project_title" class="form-control" id="project_title" placeholder="请输入标题">
                    <p id="project_title_error" style="color:red;"></p>
                </div>
                <div class="panel-body">
                    <label>具体内容</label>
                    <textarea id="project_content" style="width:1550px;height:500px;"></textarea>
                </div>
                <div class="panel-body">
                    <label>可行方案探讨</label>
                    <textarea id="plan" style="width:1550px;height:500px;"></textarea>
                </div>
                <div class="panel-body col-md-2">
                    <label>是否为公共痛点</label>
                    <select name="project_type" class="form-control" id="project_type">
                        <option>否</option>
                        <option>是</option>
                    </select>
                </div>
                <div class="panel-body col-md-2">
                    <label>状态</label>
                    <select name="status" class="form-control" id="status">
                        <option>解决中</option>
                        <option>已解决</option>
                    </select>
                </div>
                </br></br></br></br>
                <div class="panel-body">
                    <button type="submit" class="btn btn-primary" onclick="add_pain_point_confirm()">确认</button>
                    <button type="submit" class="btn btn-default" onclick="add_pain_point_cancel()">取消</button>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
<!-- /#page-wrapper -->
<script type="text/javascript">
    var kindeditor_style = {{ kindeditor_style|safe }}
    KindEditor.ready(function(K) {
        content_editor = K.create('#project_content', kindeditor_style)
        plan_editor = K.create('#plan', kindeditor_style)
        // content_editor.readonly();
    })
    function add_pain_point_confirm() {
        // content_editor.html('HTML内容')
        var data = {
            modal_name:"addPainPoint",
            project_name:$('#project_name').val(),
            project_title:$('#project_title').val(),
            project_content:content_editor.html(),
            plan:plan_editor.html(),
            project_type:$('#project_type').val(),
            status:$('#status').val()
        }
        $.ajax({
            type: "post",
            // url: "update.do",
            data: data,
            dataType: 'json',
            // contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success: function(data) {
                if (data.status === 'fail') {
                    document.getElementById('project_name_error').innerHTML = ""
                    document.getElementById('project_title_error').innerHTML = ""
                    document.getElementById(data.id).innerHTML = data.content
                }
                else {
                    location.href = '..' + data.content
                }
            }
        });
    }
    function add_pain_point_cancel() {
        location.href = '../pain_point/?status='
    }
</script>
{% endblock %}