{% extends "base/base.html" %}

{% block table_body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="page-header"></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    编辑工作
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body col-md-4">
                    <label>项目名称</label>
                    <input type="text" name="project_name" class="form-control" id="project_name" placeholder="请输入项目名称">
                    <p id="project_name_error" style="color:red;"></p>
                </div>
                </br></br></br></br></br></br>
                <div class="panel-body">
                    <label>标题</label>
                    <input type="text" name="project_title" class="form-control" id="project_title" placeholder="请输入标题">
                    <p id="project_title_error" style="color:red;"></p>
                </div>
                <div class="panel-body">
                    <label>具体内容</label>
                    <textarea id="project_content" style="width:1550px;height:500px;"></textarea>
                </div>
                <div class="panel-body col-md-2">
                    <label>优先级</label>
                    <select name="priority" class="form-control" id="priority">
                        <option>Low</option>
                        <option>Middle</option>
                        <option>High</option>
                    </select>
                </div>
                <div class="panel-body col-md-2">
                    <label>截止日期</label>
                    <input type="date" name="deadline_time" class="form-control" id="deadline_time"/>
                </div>
                <div class="panel-body col-md-2">
                    <label>状态</label>
                    <select name="status" class="form-control" id="status">
                        <option>跟进中</option>
                        <option>已完成</option>
                    </select>
                </div>
                <div class="panel-body col-md-2">
                    <label>工作类型</label>
                    <select name="project_type" class="form-control" id="project_type">
                        <option>公共类</option>
                        <option>项目单独</option>
                    </select>
                </div>
                <div class="panel-body col-md-4">
                    <label>备注</label>
                    <input type="text" name="remark" class="form-control" id="remark" placeholder="请输入备注">
                </div>
                <div class="panel-body">
                    <button type="submit" id="confirm_btn" class="btn btn-primary" onclick="edit_todo_job_confirm()">确认</button>
                    <button type="submit" id="cancel_btn" class="btn btn-default" onclick="edit_todo_job_cancel()">取消</button>
                </div>
                <!-- /.panel-body -->
                <div id="comment_heading" class="panel-heading">
                    <p>
                        <span id="comment_label"><strong>评论区</strong></span>
                        <button id="{{ target_username }}_{{ parent_id_id }}" class="btn btn-info" style="position:absolute;right:50px;" data-toggle="modal" data-target="#addCommentModal">
                        <i class="fa fa-pencil"></i>我要评论
                        </button>
                    </p>
                </div>
                {% for c in comment_list %}
                <div id="c_body_{{ forloop.counter0 }}" class="panel-body">
                    <textarea id="comment_{{ forloop.counter0 }}" style="width:1550px;height:200px;"></textarea>
                    <div class="panel-body">
                    <p style="position:absolute;right:50px;">
                        <span>{{ c.owner_username }}</span>
                        <span>{{ c.created_time }}</span>
                        {% if c.comment_editable == "True" %}
                        <span>
                        <a id="{{ c.id }}_{{ c.content }}" href="#" data-toggle="modal" data-target="#editCommentModal">编辑</a>
                        </span>
                        <span>
                        <a id="{{ c.id }}" href="#" data-toggle="modal" data-target="#delCommentModal">删除</a>
                        </span>
                        {% endif %}
                        <span>
                        <a id="{{ c.id }}_{{ c.owner_username }}_{{ parent_id_id }}" href="#" data-toggle="modal" data-target="#addReplyModal">回复</a>
                        </span>
                    </p>
                    </div>
                    <!-- <div id="reply_heading" class="panel-heading">
                    <p>
                        <span id="reply_label"><strong>回复区</strong></span>
                    </p>
                    </div> -->
                    {% for r in c.reply_list %}
                    <div id="r_body_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" class="panel-body">
                        <textarea id="reply_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" style="width:1530px;height:200px;"></textarea>
                        <div class="panel-body">
                        <p style="position:absolute;right:50px;">
                            <span>{{ r.owner_username }}</span>
                            <span>回复{{ r.target_username }}</span>
                            <span>{{ r.created_time }}</span>
                            {% if r.reply_editable == "True" %}
                            <span>
                            <a id="{{ r.id }}_{{ r.content }}" href="#" data-toggle="modal" data-target="#editReplyModal">编辑</a>
                            </span>
                            <span>
                            <a id="{{ r.id }}" href="#" data-toggle="modal" data-target="#delReplyModal">删除</a>
                            </span>
                            {% endif %}
                        </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% include "modal/add_comment_modal.html" %}
    {% include "modal/edit_comment_modal.html" %}
    {% include "modal/del_comment_modal.html" %}
    {% include "modal/add_reply_modal.html" %}
    {% include "modal/edit_reply_modal.html" %}
    {% include "modal/del_reply_modal.html" %}
<!-- /#page-wrapper -->
<script type="text/javascript">
    var editable = {{ editable|safe }}
    var kindeditor_style = {{ kindeditor_style|safe }}
    var comment_list = {{ comment_list|safe }}
    var comment_list_len = comment_list.length
    var comment_editor_list = []
    var reply_editor_list = []
    KindEditor.ready(function(K) {
        content_editor = K.create('#project_content', kindeditor_style)
        var m = 0
        for (i in comment_list)
        {
            comment_editor_list[i] = K.create("#comment_" + i, {
                'resizeType': 0,
                'items': []
            })
            for (j in comment_list[i]["reply_list"])
            {
                reply_editor_list[m] = K.create("#reply_" + i + "_" + j, {
                    'resizeType': 0,
                    'items': []
                })
                m++
            }
        }
    })
    $(function(){
        if (editable === 0)
        {
            $("#project_name").attr("readOnly",true)
            $("#project_title").attr("readOnly",true)
            $("#priority").attr("disabled",true)
            $("#deadline_time").attr("disabled",true)
            $("#status").attr("disabled",true)
            $("#project_type").attr("disabled",true)
            $("#remark").attr("readOnly",true)
            document.getElementById("confirm_btn").style.display = "none"
            document.getElementById("cancel_btn").style.display = "none"
            content_editor.readonly()
            var m = 0
            for (i in comment_list)
            {
                comment_editor_list[i].readonly(true)
                for (j in comment_list[i]["reply_list"])
                {
                    reply_editor_list[m].readonly(true)
                    m++
                }
            }
        }
        else
        {
            document.getElementById("comment_heading").style.display = "none"
            for (i in comment_list)
            {
                document.getElementById("c_body_" + i).style.display = "none"
                for (j in comment_list[i]["reply_list"])
                {
                    document.getElementById("r_body_" + i + "_" + j).style.display = "none"
                }
            }
        }
        var project_name = '{{ project_name|safe }}'
        var project_title = '{{ project_title|safe }}'
        var project_content = '{{ project_content|safe }}'
        var priority = '{{ priority|safe }}'
        var deadline_time = '{{ deadline_time|safe }}'
        var status = '{{ status|safe }}'
        var project_type = '{{ project_type|safe }}'
        var remark = '{{ remark|safe }}'
        $('#project_name').val(project_name)
        $('#project_title').val(project_title)
        content_editor.html(project_content)
        $('#priority').val(priority)
        $('#deadline_time').val(deadline_time)
        $('#status').val(status)
        $('#project_type').val(project_type)
        $('#remark').val(remark)
        var m = 0
        for (i in comment_list)
        {
            comment_editor_list[i].html(comment_list[i]['content'])
            for (j in comment_list[i]["reply_list"])
            {
                reply_editor_list[m].html(comment_list[i]["reply_list"][j]['content'])
                m++
            }
        }
    })
    function edit_todo_job_confirm() {
        var edit_flag = '{{ edit_flag|safe }}'
        var data = {
            modal_name:"editTodoJob",
            project_name:$('#project_name').val(),
            project_title:$('#project_title').val(),
            project_content:content_editor.html(),
            priority:$('#priority').val(),
            deadline_time:$('#deadline_time').val(),
            status:$('#status').val(),
            project_type:$('#project_type').val(),
            remark:$('#remark').val(),
            edit_flag:edit_flag
        }
        $.ajax({
            type: "post",
            // url: "update.do",
            data: data,
            dataType: 'json',
            // contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success: function(data) {
                if (data.status === 'fail') {
                    document.getElementById('project_name_error').innerHTML = ""
                    document.getElementById('project_title_error').innerHTML = ""
                    if (data.id === 'alert') {
                        var d = dialog({
                            title: '警告',
                            content: '有其他用户正在更新数据，请刷新后重试！'
                        })
                        d.showModal()
                    }
                    else {
                        document.getElementById(data.id).innerHTML = data.content
                    }
                }
                else {
                    location.href = '..' + data.content
                }
            }
        });
    }
    function edit_todo_job_cancel() {
        location.href = '../todo_job/?status='
    }
</script>
{% endblock %}